$xl-screen-width-min: 1440px;

$lg-screen-width-max: 1439px;
$lg-screen-width-min: 1240px;

$md-screen-width-max: 1239px;
$md-screen-width-min: 956px;

$sm-screen-width-max: 955px;
$sm-screen-width-min: 750px;

$xs-screen-width-max: 749px;
$xs-screen-width-min: 550px;

$xl-container-width: 1228px;
$lg-container-width-max: 1034px;
$lg-container-width: 956px;
$md-container-width-max: 750px;
$sm-container-width-max: 540px;
$xs-container-width: 566px;
