@import "../variables";

.coming-soon-ip-header-wrapper {
    filter: drop-shadow(0 5px 20px #747d8c29);

    .coming-soon-ip-header {
        all: initial;
        font-family: Roboto, sans-serif;
        height: 121px;
        background: #f9fafc 0% 0% no-repeat padding-box;

        display: flex;
        justify-content: space-between;
        align-items: center;
        clip-path: polygon(0% 0%, 3.47% 100%, 96.53% 100%, 100% 0%);
        padding: 0 100px;

        @media screen and (max-width: $xs-screen-width-max) {
            padding: 0 50px;
        }

        @media screen and (max-width: 549px) {
            flex-direction: column;
        }
    }
}
